.sidebaropt{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.sidebaropt > .MuiSvgIcon-root{
    padding: 15px;
}
.sidebaropt > h2{
    font-weight: 800;
    font-size: 14px;
    /* color: rgb(20, 20, 75); */
    margin-right: 20px;
    padding-right: 50px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.sidebaropt:hover{
    background-color: rgb(166, 214, 214, 0.7);
    border-radius: 20px;
    color: var(--twitter-color);
    transition: color 500ms ease-out;
}
.sidebaropt-active{
    color: var(--twitter-color);
}